/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style:none;
}

a{
    text-decoration: none;
}

img {
    width: 200;
    heigh: 100%;
    object-fit: contain;
    display:block;
}

:root {
    --color-text-white: #ffffff;
}

/* flex */
.d-flex{
    flex-direction:column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: center;
}

main{
    font-size: 20px;
}

.items-center {
    align-items: center;
}
main{
    align-items: center;
}


